<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>1.15</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<h3>1.15 Составить программу вывода на экран в одну строку четырех любых чисел, вводимых с клавиатуры, с одним пробелом между ними.</h3>
<hr>
<form th:method="POST" th:action="@{/chapter1/lesson15}">
    <label for="number1">Введите первое число:</label>
    <input type="text" id="number1" name="number1">&emsp;
    <label for="number2">Введите второе число:</label>
    <input type="text" id="number2" name="number2">&emsp;
    <label for="number3">Введите третье число:</label>
    <input type="text" id="number3" name="number3">&emsp;
    <label for="number4">Введите третье число:</label>
    <input type="text" id="number4" name="number4">
    <input type="submit" value="Вывести">
</form>
<hr>
<form action="/">
    <button>Назад</button>
</form>
</body>
</html>