<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Златопольский. Задачи по программированию</title>
    <link rel="stylesheet" href="/css/main-page.css">
    <link rel="icon" href="/img/favicon.png" type="image/x-icon">
</head>
<body>
<h1>Златопольский. Задачи по программированию</h1>
<hr>
<h2>Глава 1. Вывод информации на экран</h2>
<div class="container">
    <a href="/chapter1/lesson1" class="btn">1.1</a>
    <a href="/chapter1/lesson2" class="btn">1.2</a>
    <a href="/chapter1/lesson3" class="btn">1.3</a>
    <a href="/chapter1/lesson4" class="btn">1.4</a>

    <a href="/chapter1/lesson5" class="btn">1.5</a>
    <a href="/chapter1/lesson6" class="btn">1.6</a>
    <a href="/chapter1/lesson7" class="btn">1.7</a>
    <a href="/chapter1/lesson8" class="btn">1.8</a>

    <a href="/chapter1/lesson9" class="btn">1.9</a>
    <a href="/chapter1/lesson10" class="btn">1.10</a>
    <a href="/chapter1/lesson11" class="btn">1.11</a>
    <a href="/chapter1/lesson12" class="btn">1.12</a>

    <a href="/chapter1/lesson13" class="btn">1.13</a>
    <a href="/chapter1/lesson14" class="btn">1.14</a>
    <a href="/chapter1/lesson15" class="btn">1.15</a>
    <a href="/chapter1/lesson16" class="btn">1.16</a>

    <a href="/chapter1/lesson17" class="btn">1.17</a>
</div>
<hr>
<h2>Глава 2. Вычисление по формулам</h2>
<div class="container">
    <a href="/chapter2/lesson1" class="btn">2.1</a>
    <a href="/chapter2/lesson2" class="btn">2.2</a>
    <a href="/chapter2/lesson3" class="btn">2.3</a>
    <a href="/chapter2/lesson4" class="btn">2.4</a>

    <a href="/chapter2/lesson5" class="btn">2.5</a>
    <a href="/chapter2/lesson6" class="btn">2.6</a>
    <a href="/chapter2/lesson7" class="btn">2.7</a>
    <a href="/chapter2/lesson8" class="btn">2.8</a>

    <a href="/chapter2/lesson9" class="btn">2.9</a>
    <a href="/chapter2/lesson10" class="btn">2.10</a>
    <a href="/chapter2/lesson11" class="btn">2.11</a>
    <a href="/chapter2/lesson12" class="btn">2.12</a>

    <a href="/chapter2/lesson13" class="btn">2.13</a>
    <a href="/chapter2/lesson14" class="btn">2.14</a>
    <a href="/chapter2/lesson15" class="btn">2.15</a>
    <a href="/chapter2/lesson16" class="btn">2.16</a>

    <a href="/chapter2/lesson17" class="btn">2.17</a>
    <a href="/chapter2/lesson18" class="btn">2.18</a>
    <a href="/chapter2/lesson19" class="btn">2.19</a>
    <a href="/chapter2/lesson20" class="btn">2.20</a>
</div>
</body>
</html>