<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <title>2.1</title>
    <link rel="stylesheet" href="/css/main.css">
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
</head>
<body>
<h3>2.1 Составить программу:</h3>
<p>
    а) вычисления значения функции
    <b><span><em>y</em> = 17<em>x</em><sup>2</sup> - 6<em>x</em> + 13</span></b>
    при любом значении <b>x</b>;
</p>
<p>
    б) вычисления значения функции
    <b><span><em>y</em> = 3<em>a</em><sup>2</sup> + 5<em>a</em> − 21</span></b>
    при любом значении <b>a</b>.
</p>
<hr>
<form th:method="POST" th:action="@{/chapter2/lesson1}">
    <span>Введите значения переменных: </span>&emsp;
    <label for="x"><b>x</b>:</label>
    <input type="text" id="x" name="x" size="10">&emsp;
    <label for="a"><b>a</b>:</label>
    <input type="text" id="a" name="a" size="10">&emsp;
    <input type="submit" value="Вывести">
</form>
<hr>
<form action="/">
    <button>Назад</button>
</form>
</body>
</html>